# Serveur
SERVEUR_NOM=messagery
SERVEUR_MDP=eq2kvNYV

# MSSQL
ACCEPT_EULA=Y
MSSQL_PID=Express
MSSQL_LCID=1036
MSSQL_HOST=localhost
MSSQL_TCP_PORT=1234
MSSQL_SA_PASSWORD=z2zAKZuE
MSSQL_DATABASE=messagery